<ul class="reproducible-links new-menu children">
  <h4>The Reproducible Builds project</h4>
  <li>
    <a href="https://reproducible-builds.org">reproducible-builds.org</a><br />
    Reproducible Builds - <a href="https://Reproducible-builds.org/docs/">Docs</a>&bull; <a href="https://reproducible-builds.org/news/">News</a><br />
    Reproducible Builds in Debian - <a href="https://wiki.debian.org/ReproducibleBuilds">Wiki</a><br />
    <a href="https://reproducible-builds.org/specs/source-date-epoch/">SOURCE_DATE_EPOCH specification</a><br />
  </li>
  <li>
    <a href="https://reproducible-builds.org/citests/">CI tests</a>
  </li>
</ul>
